

### Created by https://www.gitignore.io
### Crystal ###
*.dwarf
/.shards/
/coverage/
/docs/
/lib/
/tmp/
/bin/bench
/bin/ameba

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
#/shard.lock
